<div class="coral-Form-fieldwrapper"><label class="coral-Form-fieldlabel">Content *</label>
    <div class="cq-RichText richtext-container coral-Form-field coral-DecoratedTextfield">
        <input type="hidden" data-cq-richtext-input="true" class="coral-Form-field coral-Textfield" type="text"
               name="./accordionContent" value="" aria-required="true" data-useFixedInlineToolbar="true">
        <input type="hidden" class="coral-RichText-isRichTextFlag" name="./textIsRich" value="true">
        <div class="cq-RichText-editable coral-RichText-editable coral-Textfield coral-Textfield--multiline coral-RichText coral-DecoratedTextfield-input"
             data-config-path="/mnt/override/apps/uk/components/contentAccordion/_cq_dialog/content/items/tabs/items/tab1/items/column/items/accordionData/field/items/accordionContent.config.json/content/xxx/en/home/about-us/contact-us/_jcr_content/par/contentaccordion"
             data-use-fixed-inline-toolbar="true" data-custom-start="null" data-editor-type="text"
             data-external-style-sheets="" name="./accordionContent"></div>
    </div>
</div>